body{
    margin: 0;
    font-family: monospace;
}

header{
    color: #fff;
    background-color: #e75270; 
    padding: 24px;
    text-align: center;
     
}

footer{
    background-color: #e75270;
    color: #fff;
    padding: 38px;

}


.container{
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 60%;
    border: 2px solid #ca2d4d;
    border-radius: 16px;
    padding: 16px;
}

.div-produtos{
    border: 2px solid #ca2d4d;
    border-radius: 16px;
    padding: 16px;
    margin-top: 8px; 
}

.div-resultado{
    border: 2px solid #ca2d4d;
    border-radius: 16px;
    padding: 16px;
    margin-top: 8px; 
}